[req]
distinguished_name = subject
prompt = no
req_extensions = extensions

[subject]
CN = localhost

[extensions]
subjectAltName = @names
extendedKeyUsage = serverAuth

[names]
DNS.1 = localhost
DNS.2 = kafka-1
DNS.3 = kafka-2
DNS.4 = kafka-3
